<launch>
    <rosparam ns="rate" file="$(find line_follower)/config/rate_config.yaml" />

    <group ns="line_detector">
        <node name="line_detector" pkg="line_follower" type="line_detector.py" output="screen" />
        <!-- node name="steering" pkg="line_follower" type="Ackermann_steering.py" output="screen" / -->
    </group>

    <!--  **************** Visualization ****************  -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find line_follower)/rviz/line_follower.rviz"/>

</launch>